<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.northeastern.numad22fa_team15">
    <!-- Internet Permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_team15"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_team15_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NUMAD22Fa_Team15"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MovieSearchActivityWithRecyclerView"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".FullImageActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".FirebaseLoginActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".FirebaseFriendListActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".FirebaseStickerHistoryActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".AboutTeamActivity"
            android:configChanges="orientation|screenSize" />

        <meta-data
            android:name="API_KEY"
            android:value="${API_KEY}" />
    </application>

</manifest>