<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.northeastern.numad22fa_team15">
    <!-- Internet Permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--    Alarm Permission-->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <queries>
        <!-- Camera -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_team15"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_team15_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NUMAD22Fa_Team15"
        tools:targetApi="31">
        <activity
            android:name=".PeakSummaryPieChart"
            android:exported="false" />
        <activity
            android:name=".activities.peakActivities.PeakAddTransaction"
            android:exported="false" />
        <activity
            android:name=".activities.peakActivities.PeakCreateBudget"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.peakActivities.profilePage.EditProfileActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.peakActivities.profilePage.ProfileActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activities.peakActivities.profilePage.ChangePasscodeActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".peakPasscodeRecovery.ResetPasscodeConfirmation"
            android:exported="false" />
        <activity
            android:name=".peakPasscodeRecovery.RecoverPasscode"
            android:exported="false" />
        <activity
            android:name=".peakPasscodeRecovery.ForgotPasscode"
            android:exported="false" />
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.movieApiActivities.MovieSearchActivityWithRecyclerView"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.movieApiActivities.FullImageActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".activities.firebaseActivities.FirebaseLoginActivity" />
        <activity android:name=".activities.firebaseActivities.FirebaseSignUpActivity" />
        <activity
            android:name=".activities.firebaseActivities.FirebaseFriendListActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.firebaseActivities.FirebaseStickerHistoryActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.AboutTeamActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.peakActivities.PeakEntrance"
            android:configChanges="orientation|screenSize" /> <!-- New User -->
        <activity
            android:name=".activities.peakActivities.onBoarding.onBoarding"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".activities.peakActivities.userRegister.PeakSignUp" />
        <activity android:name=".activities.peakActivities.userRegister.PeakSignUpConfirmation" />
        <activity
            android:name=".activities.peakActivities.lockScreen.PeakLockScreen" />
        <activity
            android:name=".activities.peakActivities.homePage.PeakHomePage" />
        <activity
            android:name=".activities.peakActivities.profilePage.TermsAndConditionActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.peakActivities.onBoarding.onBoardingAnimation"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.peakActivities.graph.GraphActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.peakActivities.piggySavings.SavingsActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.peakActivities.addTransaction.AddTransactionActivity"
            android:configChanges="orientation|screenSize" />

        <activity android:name=".activities.peakActivities.TestAlarmManangerActivity"/>

        <meta-data
            android:name="API_KEY"
            android:value="${API_KEY}" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <receiver
            android:name=".DailyBroadcastReceiver"
            android:exported="true">
        </receiver>

    </application>

</manifest>